.wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 200px;
  border: 2px solid black;
  border-radius: 10px;
}
.ul {
}
.li {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}
